#container{
  position: relative;
  width: 1000px;
  height: 1000px;
  background-color: red;
}
#car
{
    position: relative;
    left:550px;
    top:200px;
}

#image
{
  height:100px;
  width:auto;
}
